
.ul {
    list-style-type: none;
    overflow: hidden;
      margin-top: 0%;     
  background-color: #4B6587;
  }
  
  .li {
    float: right;
  }
  
  .li a {
    display: block;
    color: #C8C6C6;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  .liq{
    float:left;
    display: block;
    color: #C8C6C6;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;

  }
  .liq a {
    display: block;
    color: #C8C6C6;
    text-align: center;
    text-decoration: none;
  } 
   .li a:hover:not(.active) {
    background-color: #f0e5cf5d;
  }
  .liq a:hover:not(.active) {
    background-color: #f0e5cf5d;
  }
  @media only screen and (max-width: 900px) {

    .ul {
      width: auto;
    display: flex;
    flex-wrap: nowrap;
    /* flex-direction: column; */
    margin-left: -13px;
    font-size: 10px;

/*    
    width: 392px;
    height: 63px;
    display: flex;
    flex-wrap: nowrap; */   
     /* width: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: -13px; */
    }
  }