body{
  
    font-family: 'El Messiri', sans-serif;
    /*
     font-family: Helvetica,sans-serif; */
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    background: #e6e6e6;
}

.wrapper {
margin: 10px;


}
.thAa{
  border: 1px solid #C8C6C6;
  text-align: center;
  padding: 8px
;
  background:  #4b6587b3;;
  color: #4b6587;
  font-family: arial, sans-serif;
}
.ppp{
  color: #dee2e6;
}
.card {
  color: #117d9c;
  overflow: hidden;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  background: url("https://j.top4top.io/p_2201qghqw1.png") left bottom/30% no-repeat #fff;
  position: relative;

}
.xx{
  width: 100%;
  float:right;
}
.imgAqar{
 width: 100%;
 height: 200px;
 /* border-radius:30px 30px 0px 70px; */
;
 border: 2px solid #c69934;
 border-radius: 15px;


}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #F7F6F2;
  font-size: 15px;
  background: #4B6587;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 12px;

}

.btn:hover {
  background: #C8C6C6;
  text-decoration: none;
}
.himg{
  background-color: #fff;
  background-image: url("https://i.top4top.io/p_21870qxi51.png");
  background-position: right center;
  background-repeat: no-repeat;
  height: 100px;
  background-size: cover;

}


.seperator{
  /* background: #ffcd6d;
  width: 3px;
  vertical-align: top;
  display: table;
  height: 100%;
  border: 2px solid green;
  -moz-box-sizing: border-box;
  margin: 0 10px; */
}
.title-background ,.background1,.background11{
  position: relative;
  padding: 10px 10px 0;
  display:flex;
  justify-content: end;
  /* margin-left: 300px; */

}
.myDiv {
  background-color: #4B6587; 
  width: 1px; 
  height: 180px;  
  display:flex;
  justify-content:left;

}

 
.addB{
  padding: 15px;
  margin-left: 446px;
  border: 1px outset #4B6587;
  text-align: center;
  width: 600px;
  height: 1596px;
  
  box-shadow: 10px 6px 17px 0px rgb(115 114 114);
  -webkit-box-shadow: 10px 6px 17px 0px rgb(115 114 114);
}
.tableText{
font-size: 50px;
color: #4B6587;
}
.tableText1{
  color: #4B6587;

  font-family: 'El Messiri', sans-serif;

}
.tableDiv{
  background-color: #C8C6C6;
    /* padding: 68px; */
    border: 3px solid #212529;
    margin: 11px;}
    h2{
      padding: 23px;
    }
    .immmg{
      width:896;
      height:504;
   
    }
@media only screen and (max-width: 900px) {
  .himg{
    background-image: url(https://k.top4top.io/p_2208ay4go1.png);
  }
  .imgAqar{
    margin-top: -205px;
    width: 303px;
    height: 239px;
    margin-left: -341px;
  }
  .title-background{
    margin-top: 202px;
    width: 328px;
  }
  
  .title-background11{
    font-size: 20px;
  }
  .card{
    background: url(https://j.top4top.io/p_2201qghqw1.png) left bottom/100% no-repeat #fff;  }
  .myDiv{
    height: 448px;
  }
  .addB {
    margin-left: 9px;
    width: 365px;
  }
  }